*{
    background-color:  white;
    color: black;
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;

}
/* this is for the whole body*/
body{
    font-family: "Segoe UI", Arial, sans-serif;
}
.aboutme {
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
    width: 50%;
}
.pic{
    display: flex;
    justify-content: right;
    width: 470px;
    height: 450px;
    gap: 20px;
}
h1{
    height: 40%;
}
.aboutme, h1{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.skill image{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stack{
    justify-content: center;
    width: 100%;
    display: flex;
}

section{
    padding: 30px;
    margin: 80px;
    display: flex;
    border-radius: 50px;
    flex-wrap: nowrap;
}
.textinworks{
    text-align: left;
    display: flex;
    font-size: 18px;
    font-family: "Segoe UI", Arial, sans-serif;
}
.balling{
    gap: 100px;
    justify-content: left;
    width: 100%;
}
.skills{
    background-color: purple;
    flex-direction: column;
    gap: 30px;
}
.stack{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.works{
    background-color: green;
}
.introduction{
    background-color: red;
    flex-direction: row;
    gap: 30px;
}
.contact{
    background-color: orange;
    flex-direction: column;
    display: flex;
}







